* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hi;
}

.content_container {
  padding: 10px;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: azure;
  min-height: 100vh;
}

.profileDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profileCard {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profileCard {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: "10px";
  position: relative;
}

.profileCard h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.profileCard h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.profileCard button {
  background-color: #0096c8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.profileCard button:hover {
  background-color: #007ba3;
}

.userInfo {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
}

.userName {
  font-size: 18px;
  margin-bottom: 5px;
}

.userEmail {
  font-size: 16px;
  margin-bottom: 5px;
}

.userUsername {
  font-size: 14px;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
